/* GENERAL */
body {
	background-color: rgb(255, 255, 255);
}

.main {
	display: block;
	background-color: aqua;
}

svg {
	display: block;
	margin: 0 auto;
    width: 100%;
}

/* path {
	fill: red !important;
} */

/* DROPDOWN */
.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 1rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 90%;
	min-height: 100%;
	box-shadow: 0 0.5rem 0.2rem 0.2rem rgb(255, 192, 203, 0.4);
	border: 1px solid black;
	border-radius: 2rem;
	padding: 1rem;
	margin: auto;
	/* top: 0; bottom: 0;  */
	left: 0; 
	right: 0;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5rem;
}

.dropdown button {
	display: block;
	margin: 0 auto;
	padding: 0.0px 100px;
	border: 0.2rem solid black;
	border-radius: 2rem;
	background-color: white;
	box-shadow: 0 0 0.2rem 0.2rem rgb(255, 192, 203, 0.4);
}

.dropdown button:hover, .dropdown button:active {
	background-color: white;
}

/* TINY IMAGES */
.tiny-images div {
	border: 1px solid black;
	border-radius: 1rem;
	background-color: rgb(240, 76, 76);
	transition: transform .2s;
}
.tiny-images div img {
    max-width: 100%; /* Las imágenes no superarán el ancho de su contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

.tiny-images div:hover {
	transform: scale(1.05);
	background-color: white;
	box-shadow: 0 0.2rem 0.2rem 0.2rem rgb(255, 192, 203, 0.4);
}



/* COLOR PALETTE */
#palette {
	width: 100%;
	height: 7rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border: 0.1rem solid black;
	box-sizing: border-box;
}

#palette div {
	width: 100%;
	height: 100%;
	border: 0.1rem solid black;
	box-sizing: border-box;
}

#palette div:hover {
	box-shadow: inset 0 0 0 10px black;
}

#brown {
	background-color: #51251E;
}
#ochre  {
	background-color: #67664D;
}
#skin {
	background-color: #F5CA83;
}
#pink  {
	background-color: #C93852;
}
#red {
	background-color: #9B130D;
}
#watermelon  {
	background-color: #B73C2D;
}
#orange {
	background-color: #DB5300;
}
#yellow  {
	background-color: #F0BD02;
}
#green {
	background-color: #059E28;
}
#skyblue {
	background-color: #0078BF;
}
#lightblue {
	background-color: #529ED4;
}
#blue  {
	background-color: #00227E;
}
.selected {
	box-shadow: inset 0 0 0 5px black;
}

/* MEDIA QUERIES */
@media (min-width: 650px) {
	svg {
		width: 70vw;
	}
}

@media (min-width: 900px) {
	main {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-areas: "palette svg";
	}

	h2 {
		text-align: left;
		padding: 0 0.5rem;
	}

	.dropdown:hover .dropdown-content {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 3.5rem;
	}

	svg {
		grid-area: svg;
		width: 50vw;
	}

	#paletteBox {
		grid-area: palette;
		padding: 1rem;
	}

	#paletteBox h2 {
		text-align: center;
	}

	#palette {
		width: 25vw;
		height: 50vw;
		grid-template-columns: 1fr 1fr;
	}

}

@media (min-width: 1100px) {
	#palette {
		width: 20vw;
	}
}

