body {
  background-color: #f1f1f1;
}
header {
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 2;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 0px;
  z-index: 1;
}

svg {
  width: 540px;
  height: 500px;
  margin-top: 90px;
  border-radius: 25px;
  box-shadow: 0 0.3rem 0.2rem 0.2rem rgb(143 143 143 / 40%);
  margin-left: 70px;
}

/* Estilo del botón desplegable */
.dropbtn {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 78vh;
  padding: 16px 90px;
  border: none;
  border-radius: 2rem;
  background-color: #f1f1f188;
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(143 143 143 / 40%);
}

/* Botón desplegable al pasar el cursor o enfocar */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #f1f1f1;
}

/* El contenedor <div> - necesario para posicionar el contenido del desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

/*Contenido del desplegable (oculto por defecto)*/
.dropdown-content {
  display: none;
}

/* Mostrar el menú desplegable (usar JS para agregar esta clase al contenedor .dropdown-content cuando el usuario hace clic en el botón desplegable) */

.show {
  display: flex;
  position: relative;
  margin-left: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  background-color: #f1f1f1;
  min-width: 70%;
  height: 50vh;
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(143 143 143 / 40%);
  border-radius: 2rem;
}

#img-selector {
  width: 300px;
  height: 200px;
  padding-top: 60px;
}

img[data-tiny="Unicornio_trazado"] {
  width: 250px;
  margin-top: 25px;
}

.div2 {
  background-color: #f1f1f1;
  width: 50px;
  height: 500px;
  padding: 35px;
  margin-left: 15px;
  margin-top: 50px;
}
.controls__colors {
  display: flex;
  flex-direction: column-reverse; /* Elementos en una sola columna*/
  align-items: center; /* Alinea verticalmente en el centro*/
  flex-wrap: wrap; /*Fuerza una sola columna */
}

.controls__color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 0px; /* Espacio entre los colores*/
  box-shadow: inset 0 0.2rem 0.2rem 0.02rem rgba(0, 0, 0, 0.377);
}

/* Consulta de medios para tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 14px; /* Ajuste para tablet */
    /* Otros estilos específicos para tablet... */
  }
}

/* Consulta de medios para móvil */
@media screen and (max-width: 767px) {
  body {
    font-size: 12px; /* Ajuste para móvil */
    /* Otros estilos específicos para móvil... */
  }

  .dropbtn {
    margin-left: 23%;
  }

  img[data-tiny="Unicornio_trazado"] {
    width: 300px;
    margin-top: -21px;
  }

  .show {
    display: table;
    margin-left: 10px;
  }

  svg {
    width: 310px;
    margin-top: 10%;
    margin-left: 0%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  }

  .div2 {
    width: 100%; /* Ancho completo para ambos divs en dispositivos móviles */
    height: 100%;
    padding: 15px;
    margin-top: 0%;
    margin-left: 0%;
  }

  .controls__colors {
    flex-direction: row; /* Cambiar a dirección de fila para los colores en dispositivos móviles */
    align-items: center; /* Centrar los colores horizontalmente */
    flex-wrap: wrap;
    justify-content: center;
  }

  #jsColors {
    margin: left 0;
  }
}

