/* Light Color Scheme */
:root,
:root[data-force-color-mode="light"] {
	color-scheme: light dark;
	--text-color: #000;
	--background-color: #fff;
	--link-color: #00f;
}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--background-color: #333;
		--link-color: #2196f3;
	}
}
:root[data-force-color-mode="dark"] {
	--text-color: #fff;
	--background-color: #333;
	--link-color: #2196f3;
}

/* Use the Color Scheme */
body {
	color: var(--text-color);
	background-color: var(--background-color);
}

a {
	color: var(--link-color);
}

/* Only show reset button if override is set */
#reset-darkmode {
	display: none;
	text-decoration: none;
	font-style: italic;
}
[data-force-color-mode] #reset-darkmode {
	display: initial;
}

/* Visually hide the checkbox */
#toggle-darkmode {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
}

/* Style the label as a button */
#toggle-darkmode + label {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #000;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	border: none;
}

/* Style the label text */
#toggle-darkmode + label > span {
	display: none;
}

/* Add an icon inside the label */
#toggle-darkmode + label:after {
	font-size: 2em;
	content: "";
}

/* Change the icon when the checkbox is checked */
#toggle-darkmode:checked + label:after {
	content: "";
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.container {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

svg {
  height: 570px;
  width: 560px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90%;
  height: 50vh; /* Establecer la altura al 50% de la altura de la ventana (viewport height) */
  box-shadow: 0 0.5rem 0.2rem 0.2rem rgba(255, 192, 203, 0.4);
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

img {
  display: inline-block;
  max-width: 100%;
  height: 100%;
  width: auto;
}


.dropdown:hover .dropdown-content {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.5rem;
}

.dropdown button {
  display: block;
  margin: 0 auto;
  padding: 0px 100px;
  border: 0.2rem solid black;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 0 0.2rem 0.2rem rgb(255, 192, 203, 0.4);
}

.dropdown button:hover,
.dropdown button:active {
  background-color: white;
}

.div2 {
  background-color: #ffffff;
  width: 50px;
  height: 500px;
  padding: 35px;
}
.controls__colors {
  display: flex;
  flex-direction: column; /* Elementos en una sola columna */
  align-items: center; /* Alinea verticalmente en el centro */
  flex-wrap: wrap; /* Fuerza una sola columna */
}
.controls__color {
  width: 50px;
  height: 50px;
  border-radius: 70%; /* Convierte los elementos en c铆rculos */
  margin-right: 10px; /* Espacio entre los colores */
}

/* Media query para pantallas m谩s peque帽as (m贸viles) */
@media (max-width: 768px) {
  .body {
    margin-right: 35px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  }

  h2 {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .dropdown button {
    width: 50%;
    height: 50%;
  }

  .dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    min-width: 90%;
  }

  .tiny-images div {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s;
  }

  img {
    display: inline-block;
    max-width: 90%;
    height: 100%;
    width: auto;
    padding: 6.5px;
  }

  svg {
    width: 100%; /* Ancho completo para que se ajuste a la pantalla m贸vil */
    height: 340px; /* Altura autom谩tica para adaptarse al contenido */
    padding: 0px; /* Puedes reducir el relleno si es necesario */
  }

  .div2 {
    width: 100%; /* Ancho completo para ambos divs en dispositivos m贸viles */
    height: 95px;
  }

  .controls__colors {
    flex-direction: row; /* Cambiar a direcci贸n de fila para los colores en dispositivos m贸viles */
    align-items: center; /* Centrar los colores horizontalmente */
  }

  #jsColors {
    margin-left: 30px;
  }
}
